h2 {
    text-align: center;
    font-family: Pacifico;
    color: #228DFF;

}

h4 {
    font-weight: bold;
}

h2:hover {
    -webkit-animation: neon 0.7s ease-in-out infinite alternate;
    -moz-animation: neon 0.7s ease-in-out infinite alternate;
    animation: neon 0.7s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

hr.style {
    height: 5px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#reloadIcon {
    color: blue;
}
